{% extends 'menubar.html' %}
{% block content %}

 <!-- 페이지 설명 섹션-->
 <section class="page-section bg-light" >
    <div class="container" style=" font-size : 2.2rem;">
        구인하기
    </div>
</section>

<!-- 서비스 소개-->
<section class="page-section">
    <div class="container" >
         
        <table class="mytable">
            <tr class="mytr" style="background-color: #f8f8f8;">
                <td>제목</td>
                <td>ㅇㅇㅇ</td>
            </tr>
            <tr class="mytr">
                <td>제시할 마일리지</td>
                <td>ㅇㅇㅇ</td>
            </tr>
            <tr class="mytr">
                <td>모집기간</td>
                <td>ㅇㅇㅇ</td>
            </tr>
            <tr class="mytr">
                <td>필수재능</td>
                <td>ㅇㅇㅇ</td>
            </tr>
            <tr class="mytr">
                <td>내용</td>
                <td>ㅇㅇㅇ</td>
            </tr>
        </table>
        <button class="mybutton2" type="button" onclick="location.href='/find' ">등록하기</button>
    </div>
</section>

{% endblock %}