{% extends 'menubar.html' %}
{% block content %}

    <!-- 서비스 소개-->
    <section class="page-section">
        <div class="container text-center">
            <img src="../static/assets/img/bg.png" style="width:80%; height:40rem; padding-right:7rem;">
        </div>
    </section>

    <hr>

    <!-- 서비스 소개-->
    <section class="page-section">
        <div class="container text-center" style="background-color:blue" >
            <p> 두드림 카테고리 들어갈 자리</p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </section>

{% endblock %}